<% provide(:title, "Home") %>
<% provide(:description, "Run dead simple planning poker sessions for your remote team") %>

<div class="center jumbotron">
  <h1>Philou's Planning Poker</h1>
  <p>Soon an app to enable agile teams to do planning poker estimations remotely</p>

  <%= form_tag team_members_path, id: "Session", class: "form-inline" do %>
    <%= text_field_tag "Team", "", class: "form-control", placeholder:"Your team" %>
    <%= text_field_tag "Name", "", class: "form-control", placeholder: "Your name" %>
    <%= submit_tag "Enter", class: "btn btn-default" %>
  <% end %>
</div>
