<% if vote.nil? %>
  <p>Nothing is currently being voted</p>
<% else %>
  <p>Average estimate : <%= vote.average_estimate || "?" %> </p>
<% end %>

<% if @contributor.animator? %>
  <%= button_to team_vote_path(@contributor.team), class: "btn btn-primary", id: "team-vote-start" do %>
    <i class="glyphicon glyphicon-play"></i> Start Vote
  <% end %>
<% end %>
